<%- include('partials/header') %>

<section class="container my-5">
    <h1>About Popcorn Diaries</h1>
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img src="images/author.jpg" alt="Author Image" class="img-fluid rounded-circle shadow" style="max-width: 250px;">
        </div>

        <div class="col-md-8">
            <h2 class="mt-3 mt-md-0"> Teboho Stols </h2>
            <p>Hi there! My name is Teboho, and I’m the creator of Popcorn Diaries(est. 2025).

                As a passionate movie lover, I’ve always believed that films have the power to inspire, entertain, and bring people together. That’s why I built Popcorn Diaries—a space where we can all share our love for movies, discuss our favorite scenes, and uncover hidden gems in the world of cinema.
                
                This platform is not just about reviews; it’s about connecting with fellow film enthusiasts and celebrating the stories that shape us. Whether you’re here to read, write, or simply explore, I’m thrilled to have you as part of this journey.
                
                Thank you for joining Popcorn Diaries—I hope it becomes your favorite corner of the internet for everything movies!</p>

            <p><strong></strong></p>
        </div>

    </div>

</section>

<%- include('partials/footer') %>